<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.appabc" version="0.0.2"
      android-versionCode="2"
      xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AppAbc</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
        <preference name="SplashScreen" value="screen" />
        <preference name="SplashScreenDelay" value="3000" />

        <preference name="exit-on-suspend" value="false"/>
        <preference name="BackgroundColor" value="0xff83e749"/>

        <preference name="orientation" value="portrait" />
</widget>
